.rankomat-step-1-container{
    margin-top: 200px;
    justify-content: center;
}

.rankomat-step-1-container textarea, .rankomat-step-1-container textarea:focus {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    width: 100%;
    padding: 12px;
    border: none !important;
    border-radius: 4px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.rankomat-step-1-container-box{
    justify-content: left !important;
    margin: 50px 320px 50px 320px !important;
    text-align: left !important;
    
  
}
.rankomat-step-1-container-box div{ 
    line-height: 2.4rem;
}

@media only screen and (max-width: 900px) {
  
    .rankomat-step-1-container-box {
        margin: 50px 20px 50px 20px !important;
    }
    .rankomat-step-1-container textarea, .rankomat-step-1-container textarea {
        width:100%
    }
  
  }