@import "../../common/variables.css";

.rankomat {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.rankomat .CV-list-container,
.rankomat .filters-container {
  max-width: 40%;
  margin-top: 50px;
  text-align: left;
}

.rankomat .filters-container {
  margin-top: 50px;
  text-align: left;
}

.rankomat .MuiListItemText-root span,
.rankomat .styled-checkbox svg {
  color: var(--white);
}
/* ANALISYS BOX */
.MuiList-root .active {
  background-color: var(--background) !important;
}

/* CV DETAILS */
.MuiDialogTitle-root + .css-ypiqx9-MuiDialogContent-root {
  display: flex;
  flex-direction: row;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: var(--background) !important;
}

/* FILTERS */

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 0.875rem !important;
  height: 74px;
}

.checkbox-container .MuiFormControlLabel-label {
  font-size: 0.875rem !important;
}

.checkbox-container .MuiFormControl-root.css-e363es-MuiFormControl-root {
  /* width: 100px; */
  top: -10px;
}

.checkbox-container .MuiFormControlLabel-root {
  width: 220px;
  padding: 20px 20px 20px 40px;
}

#menu- ul {
  width: 50px !important;
  display: flex;
  flex-direction: column !important;
}

#menu- li {
  display: block !important;
  font-size: 0.875rem;
}

.filters-container .css-1txnhvm {
  margin-left: 60px;
}
.filters-container .button-contained {
  margin-left: 60px !important;
  margin-bottom: 20px !important;
}

.filters-checkbox-0 .MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(176, 71, 200) !important;
}

.filters-checkbox-1 .MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(219, 105, 167) !important;
}

.filters-checkbox-2 .MuiCheckbox-colorPrimary.Mui-checked {
  color: #fc9286 !important;
}

.filters-checkbox-3 .MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(199, 155, 164) !important;
}

.filters-checkbox-4 .MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(149, 129, 133) !important;
}

.filters-checkbox-5 .MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(78, 78, 78) !important;
}

.filters-checkbox-6 .MuiCheckbox-colorPrimary.Mui-checked {
  color: #a0b2a6 !important;
}

.filters-checkbox-7 .MuiCheckbox-colorPrimary.Mui-checked {
  color: #61988e !important;
}

.checkbox-container .MuiOutlinedInput-input {
  font-size: 0.875rem !important;
}

/* HIGHLIGHTS */
.cv-qualifications-item-Soft,
.cv-qualifications-item-Professional,
.cv-qualifications-item-Education,
.cv-qualifications-item-Experience,
.cv-qualifications-item-IT,
.cv-qualifications-item-Language
 {
  display: flex;
  flex-direction: row;
  justify-content: space-between,
}

/* Professional Skill */
.cv-text .profskl,
.cv-qualifications-item-Professional {
  /* background-color: rgb(244, 197, 255); */
  color: #6900ff;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Soft Skill */
.cv-text .softskl,
.cv-qualifications-item-Soft {
  /* background-color: rgb(255, 206, 233) !important; */
  color: #c500ff;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Language Skill */
.cv-text .langskl {
  /* background-color: #fc9286 !important; */
  color: #00bdee;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Education */
.cv-text .educatn,
.cv-qualifications-item-Education {
  /* background-color: rgb(250, 216, 223) !important; */
  color: #5d7dc9;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Experience */
.cv-text .experce,
.cv-qualifications-item-Experience {
  background-color: rgb(204, 186, 190) !important;
  color: rgb(91, 63, 168);
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Certificates */
.cv-text .certifi,
.cv-qualifications-item-Certificate {
  /* background-color: rgb(211, 188, 188) !important; */
  color: rgb(0, 44, 238);
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Occupation name*/
.cv-text .occname {
  /* background-color: #b1c7b8 !important; */
  color: #01aea8;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Company */
.cv-text .company,
.cv-qualifications-item-Company {
  /* background-color: #54fedf !important; */
  color: #54fedf;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* IT skill*/
.cv-text .itskill,
.cv-qualifications-item-IT {
  /* background-color: #b9cac7 !important; */
  color: #01aea8;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cv-qualifications-label-IT,
.cv-qualifications-label-Company,
.cv-qualifications-label-Certificate,
.cv-qualifications-label-Experience,
.cv-qualifications-label-Education,
.cv-qualifications-label-Soft,
.cv-qualifications-label-Professional {
  background-color: #ffffff !important;
  padding: 4px 5px 4px 5px;
  max-width: 100px;
  border-radius: 5px;
  max-height: 36px;
}

/* .annotation-name {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  font-size: 70%;
  color: rgb(0, 0, 0);
} */

@media only screen and (max-width: 1880px) {
  .checkbox-container {
    margin: 0px;
  }
  .checkbox-container .MuiFormControlLabel-root {
    width: 160px;
  }
  .rankomat .CV-list-container,
  .rankomat .filters-container {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .rankomat {
    flex-direction: column !important;
  }
  .rankomat .CV-list-container .form-container-box {
    max-width: 95%;
  }
  s .rankomat .CV-list-container {
    max-width: 90%;
  }
  .rankomat .filters-container {
    max-width: 90%;
    margin-top: 10px;
  }
}

/* CV DETAILS */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 90vw !important;
}
