@import "../../common/variables.css";


.form-container-box {
  background-color: var(--white) !important ;
  padding: 18px;
}
.job-position-search-results-wrapper {
  background-color: var(--white) !important ;
  background-color: rgb(250, 253, 255) !important ;
}

/*Error message*/
.css-k4qjio-MuiFormHelperText-root {
  margin-left: 0px !important ;
}
/*placeholder font-size*/
.MuiOutlinedInput-root .PrivateNotchedOutline-legendLabelled-16,
.css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root,
.css-1i1x89v-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 14px !important ;
}

.add-logo {
  margin-top: 12px;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.input-file-wrapper {
  position: absolute;
}
.input-file-wrapper label img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.input-file-wrapper #logo-photo {
  margin-left: 11px;
  margin-top: 10px;
  z-index: 1000;
  width: 100px;
  height: 100px;
}

.input-file-wrapper #add-photo {
  width: 100px;
  height: 100px;
}
.logo-preview {
  max-width: 80px;
  max-height: 80px;
  border-radius: 4px;
}
.logo-file-input {
  box-shadow: none !important;
}
.logo-file-input::-webkit-file-upload-button {
  width: 100px;
  height: 100px;
  position: relative;
  opacity: 0;
  color: transparent;
}
.icon {
  width: 40px;
  height: 40px;
  position: relative;
}
#photo-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 100;
  left: 18px;
  top: 18px;
  color: var(--primary);
}
#photo-icon.hidden {
  display: none;
}
/* ALERT */
.step-1-container .MuiAlert-standardInfo {
  color: #241e2d !important;
  background-color: var(--secondaryLighter);
}
.MuiAlert-standardInfo .MuiAlert-icon {
  color: #241e2d !important;
}

@media only screen and (max-width: 1024px) {
  .form-container-box {
    width: 85vw;
  }
  .job-offer-container {
    width: 92vw !important;
    margin-left:20px;
  }

  .job-offer-container-box {
    width: 92vw;
  }
  .step-1-container {
    flex-direction: column !important;
  }
}
