.step-1-container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.form-container-box {
  background-color: rgb(255, 255, 255) !important ;
  padding: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-container-box .job-position-search-results-wrapper {
  background-color: rgb(255, 255, 255) !important ;
}

.form-container-box .css-173wfxe span {
  padding-bottom: 5px;
  font-size: 10px;
}
.job-offer-container {
  box-sizing: border-box;
}
.job-offer-container-box {
  /* margin-right: 150px; */
  padding: 18px;
  box-sizing: border-box;
}

.form-container-box textarea,
.form-container-box textarea:focus {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  width: 96%;
  padding: 12px;
  border: none !important;
  border-radius: 4px;
  outline: none;
  resize: none;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  font-size: 14px;
}

.form-container-box button {
  text-decoration: none;
  font-family: Arial;
  border-radius: 4px;
  padding: 4px 16px 3px 16px;
}

.form-container-box .button-contained {
  background-color: #6200ee !important;
  color: white;
}

.step-1-container .form-container-box input {
  font-size: 14px !important;
  outline: none;
  border: none;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.form-container-box #searchPosition {
  padding: 10px 4px 10px 4px;
  box-shadow: none;
}

.add-logo {
  margin-top:12px;
  font-size: 14px !important;
  font-weight: 600;
}
.add-logo .styled-icon-button {
  color: #784af4 !important;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
  margin-right: 12px !important;
}

/* ALERT */
.MuiAlert-standardInfo {
  color: #000000 !important;
  background-color: #ede4f9 !important;
}
.MuiAlert-standardInfo .MuiAlert-icon {
  color: #6200ee !important;
}

@media only screen and (max-width: 1024px) {
  /* .form-container {
    width:100vw !important;
  } */
  .form-container-box {
    width: 85vw;
  }
  .job-offer-container {
    width: 92vw !important;
  }

  .job-offer-container-box {
    width: 92vw;
  }
  .step-1-container {
    flex-direction: column !important;
  }
}
