.job-offer-container-box {
  box-shadow: none !important;
}
.step-1-container .job-offer-container {
  margin: 20px 20px 4px 20px;
  margin-top: 50px;
  text-align: left;
}

.styled-accordion {
  top: -10px;
  width: calc(100% + 18px) !important;
  left: -9px;
}
.styled-chip {
  text-align: left;
  margin-top: 8px;
  justify-content: flex-start;
  width: fit-content;
  max-width: 550px !important;
}
.css-ejgmvm-MuiTypography-root,
.wrap-text {
  overflow-wrap: break-word !important;
}

@media only screen and (max-width: 900px) {
  .job-offer-container-box {
    width: 100%;
  }
}
