@import "../../common/variables.css";

.rankomat-stepper {

}

.rankomat-stepper .MuiStepper-horizontal {
    width: 500px; 
}
 .rankomat-stepper .MuiStepLabel-horizontal {
display: flex;
flex-direction: column
 }

 .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: var(--primary) !important;
 }