@import "../../common/variables.css";

.step-3-container {
  width:100% !important;
  padding-left: 16% !important;
}

.step-3-container .styled-button {
  color: var(--active)!important;
  padding: 25px !important;
  display: flex !important;
  background-color: white;
  display: block;
  text-align: left !important;
  display: flex;
  justify-content: left;
}

.step-3-container .styled-button:hover {
  background-color: #f2f2f2;
}

.step-3-container .styled-button .styled-icon-button {
  margin: 0 24px;
  height: 42px;
  width: 42px;
  color: var(--active);
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-3-container .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 12px !important;
}

.step-3-container
  .css-l9cwc5-MuiAutocomplete-root
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  font-size: 14px !important;
}

.step-3-container .css-1tm81ay {
  border: none;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-3-container .css-7h1qul.focused {
  border-color: var(--active);
  box-shadow: 0 0 0 2px rgba(57, 59, 61, 0.2);
}

.step-3-container .css-7h1qul:hover {
  border-color: var(--active);
}

.step-3-container .css-1k181zl li[aria-selected="true"] svg {
  color: var(--active);
}

@media only screen and (max-width: 1024px) {
  .step-3-container {
    flex-direction: column !important;
    left: 0 !important;
    margin-left: 0;
  }
}
