@import "./common/variables.css";

body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
  line-height: 26px;
  font-size: 16px;
  font-family: Montserrat, Arial;
}

.landing .landing-text  {
  position: absolute;
}

.landing .primary{
  color: var(--primaryDark);
  font-size: 34px;
  line-height: 40px;
}

.landing .section-cards {
  margin-top: -280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing .card-container {
  min-height: 390px;
  min-width: 800px;
  background-color: rgba(255, 255, 255, 1);
  padding: 18px;
  display: flex;
  margin-bottom: 20px;
}
.card-image {
object-fit: contain;
}

.landing .card-container .card1{

}

.landing .card-container .card1 .rankomat-text1,
.landing .card-container .card1 .hero-text1 {
  box-sizing: content-box;
  font-weight: 400;
  line-height: 26px;
  color: var(--primaryDark);
  -webkit-text-stroke: var(--primaryDark);
  font-size: 16px;
  font-family: Montserrat, Arial;
  margin-top: 24px;
}

.landing .card-container .card1 .rankomat-text1 .rankomat-text1-0,
.landing .card-container .card1 .hero-text1 .rankomat-text1-0 {
  color: var(--primaryDark);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-decoration: none;
}

.landing .card-container .card1 .rankomat-text1 .rankomat-text1-14 {
  color: var(--primary);
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  text-decoration: none;
}


.landing .card-container .card1 .rankomat-text2,
.landing .card-container .card1 .hero-text2,
.section-cards .section-title {
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--textMain);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 22px;
  font-weight: 700;
  font-family: Montserrat, Arial;
}

.landing .card-container .card1 .rankomat-text2 .rankomat-text2-0 {
  color: var(--textMain);
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  font-family: Montserrat, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.landing .card-container .card1 .rankomat-text2 .rankomat-text2-3 {
  color: var(--textMain);
  font-weight: 700;
  font-size: 22px;
  font-family: Montserrat, Arial;
  letter-spacing: 0;
  text-decoration: none;
}
.button-primary-contained {
  background-color: var(--primary) !important;
  font-family: Montserrat, Arial;
  color: white !important;
  text-transform: none !important;
}
.landing .card-container .button-primary-contained {
  border-radius: 4px;
  text-decoration: none !important;
  padding: 5px;
 
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--textMain);
}


.landing .text-landing {
  box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 100%;
  margin-top: 80px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0px;
  color: var(--textMain);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  font-family: Montserrat, Arial;
  max-width: 80%;
  height: 177px;
  left: 15%;
}

.landing .text-landing .text-landing-0 {
  color: var(--textMain);
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  font-family: Montserrat, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.landing .text-landing .text-landing-4 {
  color: var(--textMain);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.landing .text-landing .text-landing-46 {
  color: var(--textMain);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, Arial;
  letter-spacing: 0;
  text-decoration: none;
}
.landing .section-background {
  width: 100%;
  max-height: 600px;
}

@media only screen and (max-width: 1200px) {
  /* .landing .card-container {
    /* margin-top: 20px; */
    .landing .section-background { min-width: 130%; }
}

@media only screen and (max-width: 960px) {
  .landing .card-container {margin-top: 32px}
  .landing .section-background { min-width: 150%; }
  .landing .landing-text.hero {
    margin-top: 140px;
    margin-left: 10%;
    width: 60%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 630px) {
.landing .card-container:nth-child(1) {margin-top: 84px}
.landing .section-background { min-width: 180%; }
.landing .landing-text.hero {
  width: 90%;
}
}

@media only screen and (max-width: 400px) {
  .landing .section-background { min-width: 280%; }
  }
