.navbar {
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1)!important;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: 80px;
  left: 0px;
  top: 0px;
  z-index: 100 !important;
  font-family: Montserrat !important;
  padding-left: 5%;
  padding-top:8px;
  padding-right: 5%;
}

.appbar-toolbar {
  display: flex;

}

/* .navbar .aira {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  text-align: left;
  line-height: 50px;
  letter-spacing: 0px;
  color: rgba(23, 24, 48, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 92px;
  height: 44px;
  left: 15%;
  top: 18px;
}

.navbar .aira:hover {
  cursor: pointer;
}

.navbar .oAplikacji {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 48px;
  letter-spacing: 0px;
  color: rgba(23, 24, 48, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 89px;
  height: 18px;
  left: 75%;
  top: 21px;
} */
