:root {
    
    --primary: #651fff;
    --primaryLight: #7c4dff;
    --primaryLighter: #b388ff;
    --primaryDark: #6200ea;

    --secondary: #26a69a;
    --secondaryLight: #64ffda;
    --secondaryLighter: #a7ffeb;
    --secondaryDark: #00897b;

    --neutral: #9e9e9e;
    --neutralLight: #bdbdbd;
    --neutralDark: #757575;

    --white: #ffffff;
    --background: #faf8f8;
    --textMain: #171830;
    --textLighter:#3E5060;
  }

/* --primary: #6200EE  */

