.stepper-horizontal-container {
    margin-top: 200px;
    margin-left: 10%;
}

.stepper-vertical-container {
    margin-top: 50px;
    margin-left: 10%;
    max-width: 250px !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #784af4 !important;
}

.css-ahj2mt-MuiTypography-root {
    font-size: smaller !important;
}