@import "../../common/variables.css";

.stepper-horizontal-container {
  margin-top: 80px;

  justify-content: center !important;
  align-items: center;
}
.stepper-horizontal-container .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  width: 16px !important;
  height: 16px !important;
}
.stepper-horizontal-container
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: var(--active) !important;
  width: 18px !important;
  height: 18px !important;
}

.stepper-horizontal-container .css-zpcwqm-MuiStepConnector-root {
    top:-6px
}

.stepper-horizontal-container .MuiStep-horizontal:nth-child(2) .MuiStepButton-horizontal,
.stepper-horizontal-container .MuiStep-horizontal:nth-child(4) .MuiStepButton-horizontal{
    top:-4px
}

/* NONLINEAR */
.stepper-horizontal-container
  .stepper-nonlinear
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.stepper-horizontal-container
  .stepper-nonlinear
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root
  .MuiStepIcon-text,
.stepper-horizontal-container .stepper-nonlinear .MuiStepLabel-label {
  fill: black;
  color: rgb(23, 23, 23);
}

.stepper-horizontal-container .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active .MuiStepIcon-text {
    fill: rgb(255, 255, 255);
  }