.stepper-horizontal-container {
    margin-top: 80px;
    justify-content: center !important;
    align-items: center;
   
}

.css-10mg1vw-MuiStepper-root {
    width:80%
}

.stepper-horizontal-container .horizontal-stepper-navlink {
    text-decoration: none
}