.step-2-container .styled-button {
  color: #784af4 !important;
  padding: 25px !important;
  display: flex !important;
  background-color: white;
  display: block;
  text-align: left !important;
  display: flex;
  justify-content: left;
}

.step-2-container .styled-button:hover {
  background-color: #f2f2f2;
}

.step-2-container .styled-button .styled-icon-button {
  margin: 0 24px;
  height: 42px;
  width: 42px;
  color: #784af4;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-2-container .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 12px !important;
}

.step-2-container
  .css-l9cwc5-MuiAutocomplete-root
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  font-size: 14px !important;
}

.step-2-container .css-1tm81ay {
  border: none;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-2-container .css-7h1qul.focused {
  border-color: #784af4;
  box-shadow: 0 0 0 2px rgba(57, 59, 61, 0.2);
}

.step-2-container .css-7h1qul:hover {
  border-color: #784af4;
}

.step-2-container .css-1k181zl li[aria-selected="true"] svg {
  color: #784af4;
}
