@import "../../common/variables.css";


.step-2-container .styled-card {
  /* color: var(--primary) !important; */
  padding: 24px 18px 18px 18px !important;
  display: flex !important;
  background-color: white;
  text-align: left !important;
  display: flex;
  justify-content: left;
}

.step-2-container .styled-card .styled-icon-button {
  margin: -10px 12px 0 0;
  height: 42px;
  width: 42px;
  color: var(--primary);
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-2-container .form-inline {
 margin-bottom: 20px 
}

.step-2-container .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 12px !important;
}

.step-2-container
  .css-l9cwc5-MuiAutocomplete-root
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  font-size: 14px !important;
}

.step-2-container .css-1tm81ay {
  border: none;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.step-2-container .css-7h1qul.focused {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(57, 59, 61, 0.2);
}

.step-2-container .css-7h1qul:hover {
  border-color:var(--primary);
}

.step-2-container .css-1k181zl li[aria-selected="true"] svg {
  color: var(--primary);
}

@media only screen and (max-width: 1024px) {
  .step-2-container {
    flex-direction: column !important;
  }
}
